$day-size: 100px;
$grid-gap: 1px;
$calendar-padding: 10px;
$hover-color: #ffbfcb;
$bg-color: #eee;
$border-color: black;
$days-list: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
