$day-size: 100px;
$grid-gap: 1px;
$calendar-padding: 10px;
$hover-color: #ffbfcb;
$bg-color: #eee;
$border-color: black;
$days-list: (
  sun: 0,
  mon: 1,
  tue: 2,
  wed: 3,
  thu: 4,
  fri: 5,
  sat: 6,
);
